body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.thumbnail{
	width: 300px;
  margin-top: 10px;
  border-style: dotted;
}

div.question_container{
  background: green;
  border-style: solid;
  margin-bottom: 10px;
  width: 50%;

  text-align: center;
}

div.pageContainer{
  margin-left: 10px;
  margin-top: 10px;
}

#answeredOrNot{
  border-style: solid;
  background: orange;
  width: 40%;
  padding: 10px;

}

.optionPollText{
  border-style: solid;
  background: orange;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pollContainer{
  border-style: solid;
  background: lightblue;
  padding: 5px;
}

.star{
  font-size: 34px;
  background: yellow;
}

.score{
  border-style: solid;
  background: red;
  width: 50%;
  margin-left: 25%;
  padding: 5px;
}

#newQuestionContainer{
  margin-left: 10px;
  margin-top: 10px;
}

.titleContainer{
  border-style: solid;
  background: lightblue;
  width: 30%;
  padding: 5px;
}

.h2Container{
  border-style: solid;
  background: orange;
  padding: 5px;
  width: 20%;
}

#buttonFloat{
  float:right;
  margin-right: 10%;
  padding: 14px 16px;

}

.addSpace{
  margin-right: 20px;
  padding: 20px;
  font-size: 16px;
}

#signInContainer{
  margin-top: 10px;
  margin-left: 10px;
}

#pickAUser{
  margin-top: 15px;
  border-style: solid;
  background: orange;
  width: 40%;
  padding: 10px;
  font-size: 25px;
}

#user-select{
  width: 300px;
  margin-right: 10px;
  font-size: 20px
}

#signInButton{
  padding: 10px 39px;
  font-size: 22px;
}

.questionInputs{
  border-style: solid;
  background: orange;

  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.giveMargin{
  margin-top: 30px;
}